.snippets {
  border-collapse: collapse;
  width: 100%;
}

.snippets td,
.snippets th {
  border: 1px solid #ddd;
  padding: 8px;
}

.snippets tr:nth-child(even) {
  background-color: #f2f2f2;
}

.snippets th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
